{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block metadescription %}
    login and enjoy a variety of stunning and comfy cushions.
{% endblock %}
{% block title %}
    Login - Perfect Cushion Store
{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <h1 class="my_title text-center">Login or Create account</h1>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center my_custom_div">
                <br>
                <h2 class="my_title">New Customer</h2>
                <br>
                <p>When you create account with us, you can see your order history</p>
                <a href="{% url 'signup' %}" class="btn btn-secondary">Create new account</a>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 bg-light">
                <div>
                    <br>
                    <h2 class="my_title">Registered Customer only</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p>{{ form | crispy }}</p>
                        <button type="submit" class="btn btn-secondary">Login</button>
                    </form>
                    <br>
                </div>

            </div>
        </div>
        <br>
    </div>
    <br>
{% endblock %}
