<div class="container">
    <div class="my_custom_menu">
        <ul>
            {% if request.user.is_authenticated and request.user.first_name %}
                <li>
                    Welcome {{ request.user.first_name }} <i class="fas fa-user-circle"></i>
                </li>
                <li>
                    <a href="#">Logout <i class="fas fa-sign-out-alt"></i></a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'signup' %}">Create account <i class="fas fa-user-plus"></i></a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login <i class="fas fa-sign-in-alt"></i></a>
                </li>
            {% endif %}
        </ul>

    </div>
</div>
