{% extends 'base.html' %}
{% load staticfiles %}

{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to our site. Enjoy your time
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - Perfect Cushion Store
    {% else %}
        See our Store later
    {% endif %}
{% endblock %}
{% block content %}
    {% if category %}
        <div class="row my_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a> | {{ category.name }}</p>
            </div>
        </div>
    {% endif %}
    <div class="mx-auto">
        {% if category %}
            <img class="my_image" src="{{ category.img.url }}" alt="">
            </div>
            <br>
            <div>
                <h1 class="text-center my_title">{{ category.name }}</h1>
                <p class="text-justify">{{ category.description }}</p>
            </div>
        {% else %}
            <img class="my_image my_image_padding" src="{% static 'img/banner.jpg' %}" alt="Our Product Collection">
            </div>
            <br>
            <div>
                <h1 class="text-center my_title">Our Product Site</h1>
                <p class="text-justify">Under the Mughal Empire, which ruled in the Indian subcontinent from the early 16th century to the early 18th century, Indian cotton production increased, in terms of both raw cotton and cotton textiles. The Mughals introduced agrarian reforms such as a new revenue system that was biased in favour of higher value cash crops such as cotton and indigo, providing state incentives to grow cash crops, in addition to rising market demand.</p>
            </div>
        {% endif %}
    <div class="container">
        <div class="row mx-auto">
            {% for product in products.object_list %}
                <div class="my_botton_margin col-sm-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
                    <div class="card text-center" style="min-width: 18rem;">
                        <a href="{{ product.get_url }}"><img class="card-img-top my_image" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                        <div class="card-body">
                            <h4>{{ product.name }}</h4>
                            <p>$ {{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="mx-auto">
            {% if products.paginator.num_pages > 1 %}
                <hr>
                <div class="text-center">
                    {% for pg in products.paginator.page_range %}
                        <a href="?page={{ pg }}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">{{ pg }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}